.showup {
    color: #dc9656 !important;
    color: #86c1b9 !important;
    color: #a1b56c !important;
    color: #ba8baf !important;
    color: #1857c2 !important;
    font-weight: bold;
}

.nubank {
    color: #6D2177;
}

ul li {
    font-size: 0.8em !important
}

.reveal a {
    color: #a1b56c !important;
}

.reveal a:before {
    content: "\021e7 "
}
