#slide-parabens {
    color: #fff;
}

#slide-rust blockquote {
    display: inline-block;
    background: #fff;
    padding: 0.6em;
    font-size: 0.7em;
}

#slide-links li {
    font-size: 0.4em;
}

.rust, .reveal .showup {
    color: #df5320;
}
