/**
 * Base16 Atelier Forest theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/open-sans/open-sans.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #f1efee;

$mainColor: #1b1918;
$headingColor: #1b1918;

$mainFontSize: 42px;
$mainFont: 'Open Sans', Helvetica, sans-serif;
$headingFont: 'Open Sans', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 600;
$linkColor: #407ee7;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

$spacing: 0.8em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #01a0e4;
	}
}

.reveal {
  h1, h2 {
   padding-bottom: $spacing;
  }
}

.reveal pre {
	padding: 1em;
	background: #fff;
}

.reveal p + ul, .reveal p + div {
	padding-top: $spacing;
}

.reveal	li {
	font-size: $spacing;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
